<div class="container">
  <button (click)="logout()">Logout</button>
  <form (ngSubmit)="createTask()" class="form-group" [formGroup]="formGroup">
    <h1>Cadastrar</h1>
    <label for="title">Title</label>
    <input type="text" name="title" formControlName="title" required="">
    <label for="description">Description</label>
    <input type="text" name="description" formControlName="description" required="">
    <button type="submit">Cadastrar</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks$ | async">
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>
          <button>Remove</button>
        </td>
        <td>
          <button>Update</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
